* {
    border: 1px solid pink;
}

/* body {
padding: 0 30px;
} */

.logo {
    height: 30px;
    width: 30px;
    padding-left: 30px;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
}

.links {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-right: 30px;
    color: white;
}

.happyvape {
    width: 320px;
    padding-right: 30px;
}

.banner {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    gap: 15px;
    padding: 40px 0;
}

.signupbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    padding-left: 30px;
}

.title,
.whyvape {
    color: white;
}

.title {
    font-size: larger;
    font-weight: bolder;
}

.whyvape {
    font-size: smaller;
    width: auto;
    width: 320px;
}

.pic {
    height: 100px;
}

.promoimg {
    display: flex;
    flex-direction: column;
    padding: 20px 0 130px 0;
}

.imgbox {
    display: flex;
    flex-direction: row;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex;
}

.caption {
    padding-top: 125px;
}

.rdminfo {
    align-self: center;
    
}
