* {
    border: 1px solid pink;
}

body {
    display: flex;
    flex-direction: column;
}

.panel {
    padding:0px 40px;
    display: flex;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    height: 60px;
}

.logo {
    height: 60px;
    width: 60px;
    margin: 0;
    align-self: center;
}

.links {
    display: flex;
    align-items: center;
    gap: 15px;
}

.links div {
    color: white;
}

.banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1F2937;
}

.signupbox {
    display: flex;
}

.promo {
    display:flex;
    flex-direction: column;
}

.happysmoking {
    width: 190px;
    height: 100px;
}